.single{
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    transition: border-left 0.25s ease;
    border-radius: 10px;
}

.single:hover{
    cursor: pointer;
    border-left: 8px solid rgb(17, 96, 255);
}